{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<section class="mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <div class="card-head">
                    <h4>Hotel Booking System</h4>
                </div>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 p-3">
                            <h4>Contact Form</h4> <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{contact_form.as_p}}
                                <button class="btn btn-info w-50"> Send Message</button>
                            </form>
                        </div>
                        <div class="col-md-6 p-3">
                            <h4>Our Contact Information</h4> <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Organization</th>
                                                <td>Hootel Booking System</td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>Kathmandu, Nepal</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>hotelbooking@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th>Phone/Mobile</th>
                                                <td>01-959595/9898989898</td>
                                            </tr>
                                            <tr>
                                                <th>Viber</th>
                                                <td>9898989898</td>
                                            </tr>
                                            <tr>
                                                <th>Whatsapp</th>
                                                <td>9898989898</td>
                                            </tr>
                                            <tr>
                                                <th>Facebook Page</th>
                                                <td><a target="_blank" href="https://facebook.com">Hotel Booking System</a></td>
                                            </tr>
                                            <tr>
                                                <th>Locate Us</th>
                                                <td><a target="_blank" href="https://www.google.com/maps/search/herald+college+map+url/@27.7184424,85.311488,13z/data=!3m1!4b1">Google Map</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}