<!--{% extends 'clienttemplates/clientbase.html' %}

{% block title %}Customer Password Change{% endblock %}

{% block content %}
<div class="row"  style="height: 80vh;">
    <div class="col-md-12">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-head" style="background-color: rgb(238, 237, 237);color:rgb(76, 77, 76)">
                        <h5 class="card-title p-3">Password Change Form </h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{password_change_form.as_p}}
                            <button class="btn btn-secondary" id="change-btn">Change Password</button>
                            <br>
                            <p id="err-p"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function checkPasswords(){
        var err_p = document.getElementById("err-p")
        var change_btn = document.getElementById("change-btn")
        var p = document.getElementById('id_password').value
        var c_p = document.getElementById('id_confirm_password').value
        if(p.length < 6 || c_p.length < 6)
        {
            err_p.innerHTML = "Password must be atleast 6 characters long."
            change_btn.setAttribute("disabled", "disabled")
            err_p.classList.add("text-danger")
        }else if (p != c_p){
            err_p.innerHTML = "Passwords did not match."
            change_btn.setAttribute("disabled", "disabled")
            err_p.classList.add("text-danger")
        }else{
            err_p.innerHTML = "Password matched."
            err_p.classList.remove("text-danger")
            err_p.classList.add("text-success")

            change_btn.removeAttribute("disabled")
        }
    }
</script>
{% endblock %}-->