<!--{% extends 'clienttemplates/clientbase.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="row"  style="height: 80vh;">
    <div class="col-md-12">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-head" style="background-color: rgb(238, 237, 237);color:rgb(76, 77, 76)">
                        <h5 class="card-title p-3">Forgot your account password? </h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" id="forgot-password-form">
                            {% csrf_token %}
                            <label for="">Enter your email to get password reset link</label>
                            <input type="email" name="email" id="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            <p class="text-danger" id="err-p"></p>
                            <br>
                            <button class="btn btn-secondary" id="send-btn">Get Password Reset Link</button>
                        </form>
                        <hr>
                        <p>Check login again? <a href="{% url 'hbsapp:customerlogin' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}"> Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var form = document.getElementById('forgot-password-form')
    var btn = document.getElementById('send-btn')
    form.addEventListener("submit", function (e){
        btn.setAttribute("disabled", "disabled");
        btn.innerHTML = "Processing your request...";
        e.preventDefault();
        var fd = new FormData();
        fd.append("csrfmiddlewaretoken", "{{csrf_token}}")
        fd.append("email", document.getElementById("email").value)
        fetch('', {
            method: "POST",
            body: fd
        }).then(response => response.json())
            .then(json => {
                if(json.status == "success"){
                    location.href = "{% url 'hbsapp:clienthome' %}"
                }else{
                    document.getElementById("err-p").innerHTML = json.message;
                    document.getElementById("email").value = "";
                }
            })
            .catch(err => console.log(err))
    })
</script>
{% endblock %}-->