<!--{% extends 'clienttemplates/clientbase.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-head" style="background-color: rgb(238, 237, 237);color:rgb(76, 77, 76)">
                        <h5 class="card-title p-3">Reset your password </h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" id="reset-password-form">
                            {% csrf_token %}
                            <label for="">Password</label>
                            <input onkeyup="checkPasswords()" type="password" name="password" id="password" class="form-control" required>
                            <label for="">Confirm Password</label>
                            <input onkeyup="checkPasswords()" type="password" name="c_password" id="c_password" class="form-control" required>
                            <p class="text-danger" id="err-p"></p>
                            <br>
                            <button class="btn btn-secondary" id="reset-btn">Reset Your Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function checkPasswords(){
        var err_p = document.getElementById("err-p")
        var reset_btn = document.getElementById("reset-btn")
        var p = document.getElementById('password').value
        var c_p = document.getElementById('c_password').value
        if(p.length < 6 || c_p.length < 6)
        {
            err_p.innerHTML = "Password must be atleast 6 characters long."
            reset_btn.setAttribute("disabled", "disabled")
        }else if (p != c_p){
            err_p.innerHTML = "Passwords did not match."
            reset_btn.setAttribute("disabled", "disabled")
        }else{
            err_p.innerHTML = "Password matched."
            err_p.classList.remove("text-danger")
            err_p.classList.add("text-success")

            reset_btn.removeAttribute("disabled")
        }
    }
</script>
{% endblock %}-->
