{% extends 'admintemplates/adminbase.html' %}
{% load humanize %}

{% block title %}Booking List{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card p-3">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Booking Management(<span class="text-info"> {{pending_bookings}} pending bookings</span> )</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Room</th>
                                <th>Booked on</th>
                                <th>Customer</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in allbookings %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'hbsapp:adminbookingdetail' booking.id %}">{{booking.hotel_room.room_type}}
                                        ({{booking.hotel_room.room_code}}) at {{booking.hotel_room.hotel.name}} </a>
                                </td>
                                <td>{{booking.created_at}} </td>
                                <td>{{booking.customer}} </td>
                                <td>Rs. {{booking.amount|intcomma}}/- {% if booking.payment_status %}<span
                                        class="badge bg-success">Paid</span>{% else %}<span class="badge bg-danger">Not
                                        paid{% endif %}</span></td>
                                <td><span
                                        class="badge bg-{% if booking.booking_status == 'Rejected' %}danger{% elif booking.booking_status == 'Pending' %}info{% else %}success{% endif %}">{{booking.booking_status}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>
{% endblock %}